html{
    text-align: center;
    font-family: cursive;
}
h1{
    background-color:aquamarine;
}
.dark_salmon{
    color: darksalmon;
}
.Red{
    color:maroon;
}
body::first-line{
    font-weight: bold;
    font-size: 1.2em;
}
body::first-letter{
    font-size: 2.0em
}
@media screen and (max-width: 1400px){
    html{
        font-size: 20px
    }
    img{
        width: 50%;
        height: 75%;
    }
}
ul{
    list-style-type: none;
}
#pic{
    border-style:groove;
    transition: opacity 0.5s;
}
.hidden{
    opacity: 0;
}