html{
    text-align: center;
    font-family: cursive;
}
h1{
    background-color: cyan;
}
.Red{
    color: red;
}
.Blue{
    color: blue;
}
.White{
    color:burlywood;
}
.Black{
    color:black;
}
.yellowish{
    color:darkgoldenrod;
}
body::first-line{
    font-weight: bold;
    font-size: 1.2em;
}
body::first-letter{
    font-size: 2.0em
}
@media screen and (max-width: 1400px){
    html{
        font-size: 20px
    }
    img{
        width: 50%
    }

}
