.Red{
    color: red;
}
.Yellow{
    color: yellow;
}
#yellowish{
    color:darkgoldenrod;
}
h1{
    background-color: aqua;
}
#span{
    font-family: cursive;
    font-style: italic;
}
#pic{
    border-style:groove;
    display:inline-block;
    transition: opacity 0.5;
}
.hidden{
    opacity: 0;
}
a:hover{
    color:lightcoral;
}
html{
    text-align: center;
}
.brown{
    color:brown;
}
body::first-line{
    font-weight: bold;
    font-size: 1.2em;
}
body::first-letter{
    font-size: 2.0em
}
@media screen and (max-width: 1400px){
    html{
        font-size: 20px
    }
    img{
        width: 50%;
    }

}
ul{
    list-style-type: none;
}
ul a{
    display: inline-block;
    white-space:pre;
    padding: 60px 100px;
}
.sprtsLogo{
    height: 290px;
    width: 350px;
    display: inline;
    max-width: 25%;
}
#greeting{
    color:forestgreen;    
    text-align: left;
    font-size: 0.7em;
}